# =========================
# Models (VERY IMPORTANT)
# =========================
models/
*.h5
*.keras
*.zip
saved_model/

# =========================
# Data
# =========================
data/

# =========================
# Kaggle paths
# =========================
/kaggle/

# =========================
# Python
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store